@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import './small.scss';

$timingFunction: cubic-bezier(0.97, 0.01, 0.66, 0.46);
$input-border-radius: 4px; // borderRadius
$input-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.226);

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-width: 800px;
  width: 100%;
}

.landing-wrap {
  min-height: 100vh;
  background-size: cover;
}

.title-b {
  font-size: 2.4rem;
}

.title-a {
  padding: 4px;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 36px;
  color: white;
  max-width: 800px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 46%);

  span {
    font-weight: 0;
    font-size: 1.8rem;
    font-family: 'Sansita Swashed', cursive;
    display: block;


    will-change: display, opacity;
  }

  // Animations
  will-change: transform, max-height;
  transition: transform 1s $timingFunction,
              max-height .8s ease-in-out;
  max-height: 1000px;
  &.move {
    transform: translateY(-1000px);
    max-height: 0px;
  }
}

.main-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .l-sign-in {
    background-color: rgba(255, 255, 255, 0.495);
    backdrop-filter: blur(6px);
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    position: relative;
    z-index: 1;
    box-shadow: 11px 25px 12px rgb(0 0 0 / 15%);

    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      
      span {
        text-transform: uppercase;
        font-size: .9rem;
      }

      #btn-send {
        background: rgb(117, 172, 253);
        padding: 10px 18px;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        border-radius: 8px;
      }
    }

    // Animations
    will-change: transform, max-height, opacity;
    transition: transform 1s $timingFunction, max-height .3s ease-in-out, opacity .4s ease-in-out;
    transition-delay: 0s, 1s, 0s;
    max-height: 1000px;
    &.move {
      transform: translateY(1000px);
      max-height: 0px;
      animation: moveLoginForm .6s linear forwards ease-in-out;
    }
  }

  .l-search-inp {
    position: relative;
    z-index: 2;

    .field {
      display: flex;

      .input {
        display: flex;
        // width: 200px;
        justify-content: space-around;
        background-color: white;
        box-shadow: $input-box-shadow;
        border-radius: $input-border-radius;
        
        input {
          padding-right: 10px;
          background-color: transparent;
          box-shadow: unset;
        }

        .s-icon {
          width: 30px;
          display: flex;
          align-items: center;
          padding: 0 4px;
          color: rgb(157, 157, 157);

          ion-icon[name="search-outline"],
          ion-icon[name="close-outline"] {
            font-size: 28px;
            line-height: 28px;
            margin: auto;
            cursor: pointer;
          }
          ion-icon[name="close-outline"] {
            display: none;
          }
        }
      }
      
    }

    .results {
      display: none;
      position: absolute;
      
      .results-list {
        max-width: 360px;
        background: white;
        padding: 8px;

        .button-autocomp {

          ion-icon {
            color: rgba(0, 0, 0, 0.363);
            transform: rotateZ(-45deg);
          }
        }

        
        div, span {
          padding: 6px 16px;
          text-transform: capitalize;
          display: inline-block;
          cursor: pointer;
          &:hover {
            background: rgb(209, 209, 209);
          }
        }
      }

      .suggestions {
        max-width: 360px;
        background: white;
        color: gray;
        padding: 6px;

        .divide {
          border-top: 3px solid rgba(128, 128, 128, 0.486);
          height: 8px;
          width: 100%;
          margin: auto;
          border-radius: 8px;
        }

        div {
          display: inline-block;
          color: rgb(82, 82, 82);
          margin-left: 4px;
          cursor: pointer;
          &:hover {
            font-weight: 500;
          }
        }
      }
    }

    &.active {
      input {
        border-radius: $input-border-radius $input-border-radius 0 0;
      }
      
      .results {
        display: block;

        .suggestions {
          border-radius: 0 0 $input-border-radius $input-border-radius;
        }
      }
    }

    // Animations
    will-change: transform, max-height;
    transition: transform 1s $timingFunction, max-height .8s ease-in-out;
    max-height: 1000px;
    &.move {
      transform: translateY(-1000px);
      max-height: 0px;
    }
  }
}

input {
  padding: 10px;
  border: unset;
  border-radius: $input-border-radius;
  box-shadow: $input-box-shadow;

  &:focus-visible {
    outline: unset;
  }
}


@keyframes messageAnims {
  28% {
    opacity: 1;
    max-height: 200px;
  }
  30% {
    opacity: 0;
    max-height: 200px;
  }
  31% {
    opacity: 0;
    max-height: 0px;
  }
  89% {
    opacity: 0;
    max-height: 0px;
  }
  90% {
    opacity: 0;
    max-height: 200px;
  }
  92% {
    opacity: 1;
    max-height: 200px;
  }
}

@keyframes moveLoginForm {
  98% {
    display: block;
  }
  100% {
    display: none;
  }
}
